
.m-10-per{
    margin: 10%;
}
.required {
    color: red;
}
.red {
    color: red;
}
.bg-red {
    background-color: red;
}
.pull-right{
    float: right;
}
.language_selector {
    width: 50px;
    height: 50px;
    text-align: "center";
}