
.m-10-per{
    margin: 10%;
}
.required {
    color: red;
}
.red {
    color: red;
}
.green{
    color: green;
}
.bg-red {
    background-color: red;
}
.pull-right{
    float: right;
}
.language_selector {
    width: 50px;
    height: 50px;
    text-align: "center";
}
a{
    text-decoration: none;
    &:hover {
        text-decoration: none;
        background-color: unset !important;
    }
    &:visited {
        text-decoration: none;
        color: grey !important;
    }
    color: grey;
    &.active {
        border-bottom: 2px solid black;
        color: black !important;
    }
}


#language_selector{ 
    font-size: 30px;
}